.gradle/
tasktide/build/
tasktide/*/build/
tasktide/*/bin/
.gitignore
.secret/
tasktide/use-cases/task-binding-use-case/Early-Task-Binding/ItemStoreRepo/
tasktide/use-cases/task-binding-use-case/Early-Task-Binding/tasktide-0.9.0/
*.Rhistory
*RDat
*tar.gz
*tar
*sif
*def
tasktide/use-cases/task-binding-use-case/FunctionRunner/build/
.gitignore
tasktide/use-cases/task-binding-use-case/FunctionRunner/Deployment/FunctionRunner*
tasktide/docs/Diagrams/~$Diagrams.pptx
