.gradle/
tasktide/build/
tasktide/*/build/
tasktide/*/bin/
.gitignore
.secret/
tasktide/use-cases/task-binding-use-case/Early-Task-Binding/ItemStoreRepo/
tasktide/use-cases/task-binding-use-case/Early-Task-Binding/tasktide-0.9.0/
*.Rhistory
*RDat
*tar.gz
*tar
*sif
*def
tasktide/use-cases/task-binding-use-case/FunctionRunner/build/
.gitignore
tasktide/use-cases/task-binding-use-case/FunctionRunner/*_sandbox/*
tasktide/use-cases/task-binding-use-case/FunctionRunner/julia_depot/*
tasktide/use-cases/task-binding-use-case/FunctionRunner/build*
tasktide/use-cases/task-binding-use-case/FunctionRunner/FunctionRunner_sandboxv2/*
tasktide/use-cases/task-binding-use-case/FunctionRunner/FunctionRunnerSandBox/*
