################################################
################################################
#
# TaskTide Core Library Properties
#
################################################
################################################


### [ Service Config ] ###
task-tide.core.service.workitem.locking-wait-time=4
task-tide.core.utils.date-format="dd/MM/yy HH:mm:ss"
task-tide.core.utils.expiration=2


### [ NoSQL Collection ] ###
task-tide.core.repository.nosql.collection.workflow.name="Workflow"
task-tide.core.repository.nosql.collection.step.name="Step"
task-tide.core.repository.nosql.collection.workitem.name="Workitem"


### [ JSON Collection ] ###
task-tide.core.repository.json.collection.step.workflow="Workflow"
task-tide.core.repository.json.collection.step.name="Step"
task-tide.core.repository.json.collection.workitem.name="Workitem"


### [ RocksDB Collection ] ###
task-tide.core.repository.rocksdb.collection.workflow.name="Workflow"
task-tide.core.repository.rocksdb.collection.step.name="Step"
task-tide.core.repository.rocksdb.collection.workitem.name="WorkItem"


################################################
################################################
#
# TaskTide Engine Library Properties
#
################################################
################################################


### [ Processor ] ###
task-tide.engine.worker.processor.threads-count.workitem=2
task-tide.engine.worker.processor.thread-count.itemtask=2
task-tide.engine.worker.processor.task-size-threshold.workitem=2
task-tide.engine.worker.processor.task-size-threshold.itemtask=2


### [ State Observer? ] ###
task-tide.engine.observer.worker.state.level=Critical|Optional
task-tide.engine.observer.worker.state.can-fail.onStart=false|true
task-tide.engine.observer.worker.state.can-fail.onProcessing=false|true
task-tide.engine.observer.worker.state.can-fail.onEnd=false|true


### [ TimeKeeper Observer ] ###
task-tide.engine.observer.worker.timekeeper.level=Optional|Critical
task-tide.engine.observer.worker.state.can-fail.onStart=true|false
task-tide.engine.observer.worker.state.can-fail.onProcessing=true|false
task-tide.engine.observer.worker.state.can-fail.onEnd=true
task-tide.engine.observer.worker.timekeeper.workitem=100000
task-tide.engine.observer.worker.timekeeper.itemtask=100000







